asn1crypto==0.24.0
backports.functools-lru-cache==1.6.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cryptography==2.3
cycler==0.10.0
Cython==0.29.14
cython-setuptools==0.2
dask==1.2.2
docutils==0.15.2
enum34==1.1.6
idna==2.8
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
matplotlib==2.2.4
numpy==1.16.5
pandas==0.24.2
pycrypto==2.6.1
pygobject==3.26.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
pyxdg==0.26
requests==2.22.0
scipy==1.2.2
SecretStorage==2.3.1
six==1.13.0
subprocess32==3.5.4
urllib3==1.25.7
xarray==0.11.3
